seed_everything: 123
trainer:
  logger: null
  checkpoint_callback: null
  enable_checkpointing: true
  callbacks:
  - class_path: pytorch_lightning.callbacks.RichModelSummary
    init_args:
      max_depth: -1
  - class_path: pytorch_lightning.callbacks.RichProgressBar
    init_args:
      refresh_rate: 1
      leave: false
      theme:
        description: white
        progress_bar: '#6206E0'
        progress_bar_finished: '#6206E0'
        progress_bar_pulse: '#6206E0'
        batch_progress: white
        time: grey54
        processing_speed: grey70
        metrics: white
      console_kwargs: null
  - class_path: pytorch_lightning.callbacks.ModelCheckpoint
    init_args:
      dirpath: null
      filename: epoch_{epoch:03d}
      monitor: val/loss
      verbose: false
      save_last: true
      save_top_k: 1
      save_weights_only: false
      mode: min
      auto_insert_metric_name: true
      every_n_train_steps: null
      train_time_interval: null
      every_n_epochs: null
      save_on_train_epoch_end: null
  default_root_dir: null
  gradient_clip_val: null
  gradient_clip_algorithm: null
  process_position: 0
  num_nodes: 1
  num_processes: null
  devices: auto
  gpus: null
  auto_select_gpus: false
  tpu_cores: null
  ipus: null
  log_gpu_memory: null
  progress_bar_refresh_rate: null
  enable_progress_bar: true
  overfit_batches: 0.0
  track_grad_norm: -1
  check_val_every_n_epoch: 1
  fast_dev_run: false
  accumulate_grad_batches: null
  max_epochs: 100
  min_epochs: 10
  max_steps: -1
  min_steps: null
  max_time: null
  limit_train_batches: null
  limit_val_batches: null
  limit_test_batches: null
  limit_predict_batches: null
  val_check_interval: null
  flush_logs_every_n_steps: null
  log_every_n_steps: 50
  accelerator: gpu
  strategy: ddp
  sync_batchnorm: true
  precision: 32
  enable_model_summary: true
  weights_summary: top
  weights_save_path: null
  num_sanity_val_steps: 0
  resume_from_checkpoint: null
  profiler: null
  benchmark: null
  deterministic: null
  reload_dataloaders_every_n_epochs: 0
  auto_lr_find: false
  replace_sampler_ddp: true
  detect_anomaly: false
  auto_scale_batch_size: false
  prepare_data_per_node: null
  plugins: null
  amp_backend: native
  amp_level: null
  move_metrics_to_cpu: false
  multiple_trainloader_mode: max_size_cycle
  stochastic_weight_avg: false
  terminate_on_nan: null
ckpt_path: null
model:
  class_path: src.models.sr_module.SRLitModule
  init_args:
    arch: liif
    lr: 0.0001
    lr_gamma: 0.5
    lr_step: 10
data:
  class_path: src.datamodules.sr_datamodule.SRDataModule
  init_args:
    root: ./data/
    trainsets:
    - - DIV2K
      - train
    trainsets_repeat: 20
    testsets:
    - - DIV2K
      - train
    - - benchmark
      - B100
    - - benchmark
      - Set5
    - - benchmark
      - Set14
    - - benchmark
      - Urban100
    batch_size: 4
    bin: true
    reset_bin: false
    scales:
    - 2
    - 3
    - 4
    patch_size: 192
    num_workers: 4
    pin_memory: false
